<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/livereload-js/3.1.0/livereload.min.js" integrity="sha512-D7Umi+FssAEJdeb9Os1EotGt2RAjxYAtQxfAXF/Pkg6GyHo72gn53qIbsclABgvZvWqlNzvDEAnQ/NfPh4oJiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<a href="home" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">EliteScouting</a>
<p>Register here.</p>

<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    <br>
    <label for="teamrole">Team Role</label><br>
    <select name="teamrole" id="teamrole">
        <option value="mentor">Mentor</option>
        <option value="student">Student</option>
        <option value="alumni">Alumni</option>
      </select>
        <button>Submit</button>
  </form>

  <p>Previously saved data:</p>
  <ul>
    {% for key, value in user_data.items() %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>

</body>
</html>