<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/livereload-js/3.1.0/livereload.min.js" integrity="sha512-D7Umi+FssAEJdeb9Os1EotGt2RAjxYAtQxfAXF/Pkg6GyHo72gn53qIbsclABgvZvWqlNzvDEAnQ/NfPh4oJiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<h1>Test Stuff Lulz</h1>

<label for="cars">More Testing:</label>

<form>
    <select name="cars" id="Doc Suess">
        <option value="volvo">One fish</option>
        <option value="saab">Two fish</option>
        <option value="mercedes">Red Fish</option>
        <option value="audi">Blue Fish</option>
      </select>
<br>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    <button id="submitButton">Submit</button>
  </form>

  <!-- <div id="submitButton">Click me!</div>  -->
 
  <script> 
    var div = document.getElementById("submitButton"); 
    div.addEventListener("click", function() { 
      alert("Button was clicked!"); 
    }); 
  </script> 

<select id="dropdown" onchange="toggleButton()">
  <option value="">Select an option</option>
  <option value="option1">Option 1</option>
  <option value="option2">Option 2</option>
</select>

<a href="anotherpage.html" id="button" class="button">Go to Another Webpage</a>

<script>
  function toggleButton() {
    const dropdown = document.getElementById('dropdown');
    const button = document.getElementById('button');
    
    button.disabled = (dropdown.value === 'option2');
  }
</script>


</body>
</html>