{% extends "base.html" %}
{% from "components.html" import select with context %}
{% from "components.html" import text_input with context %}
{% from "components.html" import slider with context %}
{% from "components.html" import counter with context %}
{% from "components.html" import checkbox with context %}
{% from "components.html" import header with context %}
{% from "components.html" import button with context %}

{% block content %}
  <h1>Match Form</h1>

  <form method="POST">

    {{ header("Pre-Match Info", 4, True) }}

    {{ text_input("scouter_name", "Name of Scouter", vm.scouter_name ) }}

    {{ select("starting_position", "Starting Position", vm.options.starting_position, vm.starting_position ) }}

    {{ header("Autonomous", 4, True) }}

    {{ select("left_start", "Did they leave the starting zone?", vm.options.left_start, vm.left_start ) }}

    {{ select("midline_collect", "Collected note from mid-line?", vm.options.midline_collect, vm.midline_collect ) }}

    {{ slider("midline_time", "How much time was on the clock when they reached a center note?", 0, 15, 1, vm.midline_time, "seconds" ) }}

    {{ header("Auto Notes", 6, False) }}

    {{ counter("auto_amp_score", "Amp Notes SCORED", 0, 1000, vm.auto_amp_score ) }}

    {{ counter("auto_amp_misses", "Amp Notes MISSED", 0, 1000, vm.auto_amp_misses ) }}

    {{ counter("auto_speaker_score", "Speaker Notes SCORED", 0, 1000, vm.auto_speaker_score ) }}

    {{ counter("auto_speaker_misses", "Speaker Notes MISSED", 0, 1000, vm.auto_speaker_misses ) }}

    {{ header("Teleop", 4, True) }}

    {{ checkbox("source_pickup", "Did they pick up from the source?", vm.source_pickup ) }}

    {{ select("intake", "What is their intake?", vm.options.intake, vm.intake ) }}

    {{ checkbox("under_stage", "Did they drive under the stage?", vm.under_stage) }}

    {{ header("Teleop Notes", 6, False) }}

    {{ counter("teleop_amp_score", "Amp Notes SCORED", 0, 1000, vm.teleop_amp_score) }}

    {{ counter("teleop_amp_misses", "Amp Notes MISSED", 0, 1000, vm.teleop_amp_misses) }}

    {{ counter("teleop_speaker_score", "Speaker Notes SCORED", 0, 1000, vm.teleop_speaker_score) }}

    {{ counter("teleop_speaker_misses", "Speaker Notes MISSED", 0, 1000, vm.teleop_speaker_misses) }}

    {{ header("Endgame", 4, True) }}

    {{ slider("start_hang", "How much time was on the clock when they started hanging?", 0, 45, 1, vm.start_hang, "seconds") }}

    {{ slider("stop_hang", "How much time was on the clock when they stopped hanging?", 0, 45, 1, vm.stop_hang, "seconds") }}

    {{ counter("trap_score", "Trap Notes SCORED", 0, 3, vm.trap_score) }}

    {{ select("end_status", "Did they Park?", vm.options.end_status, vm.end_status )}}

    {{ header("General Notes", 4, True) }}

    {{ checkbox("fell_over", "Did they Fall Over?", vm.fell_over) }}

    {{ checkbox("stopped_working", "Did they Stop Working?", vm.stopped_working) }}

    {{ checkbox("unstable_driving", "Did they have Unstable Driving?", vm.unstable_driving) }}

    {{ checkbox("turned_off", "Were they Turned Off?", vm.turned_off) }}

    {{ checkbox("connection_issues", "Did they have Connection Issues?", vm.connection_issues) }}

    {{ checkbox("good_defense", "Did they have Good Defense?", vm.good_defense) }}

    {{ text_input("comments", "Other Notes or Comments", vm.comments) }}

    {{ button("Submit Form", "submit" )}}
</form>
{% endblock %}