<!DOCTYPE html>
<html>
<body>

<h1>EliteScouting</h1>
<p>Please select your name here.</p>

<form>
    <select name="users" id="users">
        <option value="test1">Test Scouter 1</option>
        <option value="test2">Test Scouter 2</option>
        <option value="test3">Test Scouter 3</option>
        <option value="test4">Test Scouter 4</option>
        <option value="test5">Test Scouter 5</option>
        <option value="test6">Test Scouter 6</option>
      </select>
      <button>Submit</button>

</body>
</html>