<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/livereload-js/3.1.0/livereload.min.js" integrity="sha512-D7Umi+FssAEJdeb9Os1EotGt2RAjxYAtQxfAXF/Pkg6GyHo72gn53qIbsclABgvZvWqlNzvDEAnQ/NfPh4oJiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<a href="" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">EliteScouting</a>
<p>Please select your name here.</p>

<form>
    <select name="users" id="users">
        <option value="test1">Test Scouter 1</option>
        <option value="test2">Test Scouter 2</option>
        <option value="test3">Test Scouter 3</option>
        <option value="test4">Test Scouter 4</option> 
        <option value="test5">Test Scouter 5</option>
        <option value="test6">Test Scouter 6</option>
      </select>
      <button>Submit</button>

</body>
</html>