{% from "components.html" import header with context %}
{% from "components.html" import button with context %}

{% extends "base.html" %}

{% block content %}

{{ header("Quantitative Data", 4, True) }}

<button class="btn btn-secondary btn-sm" onclick="toggleTable('completedquantitative')">Toggle Quantitative Data</button>
<button class="btn btn-secondary btn-sm" onclick="exportTableToCSV('quantitative.csv', 'completedquantitative')">Export Quantitative Data to CSV</button>
<br>
<div class="overflow-auto" id="quantitative-container">
  <table class="table" id="completedquantitative">
      <thead>
        <tr>
          {% for col in forms[0].keys() %}
              <th scope="col">{{col}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for form in forms %}
      <tr>
          <td><a href="/form/2025/{{ form.get('_id') }}">{{ form.get("_id") }}</a></td>

          {% for data in form %}
            {% if not loop.first %}
              <td>{{form.get(data)}}</td>
            {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

{{ header("Qualitative Data", 4, True) }}

<button class="btn btn-secondary btn-sm" onclick="toggleTable('completedqualitative')">Toggle Qualitative Data</button>
<button class="btn btn-secondary btn-sm" onclick="exportTableToCSV('qualitative.csv', 'completedqualitative')">Export Qualitative Data to CSV</button>
<br>
<div class="overflow-auto" id="qualitative-container">
  <table class="table" id="completedqualitative">
      <thead>
        <tr>
          {% for col in quals[0].keys() %}
              <th scope="col">{{col}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for qual in quals %}
      <tr></tr>
          <td><a href="/form/qual/{{ qual.get('_id') }}">{{ qual.get("_id") }}</a></td>

          {% for data in qual %}
            {% if not loop.first %}
              <td>{{qual.get(data)}}</td>
            {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

{{ header("Pit Forms", 4, True) }}

<button class="btn btn-secondary btn-sm" onclick="toggleTable('completedpits')">Toggle Pit Forms</button>
<button class="btn btn-secondary btn-sm" onclick="exportTableToCSV('pits.csv', 'completedpits')">Export Pit Forms to CSV</button>
<br>
<div class="overflow-auto" id="pits-container">
  <table class="table" id="completedpits">
      <thead>
        <tr>
          {% for col in pits[0].keys() %}
              <th scope="col">{{col}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for pit in pits %}
      <tr>
          <td><a href="/form/pit/{{ pit.get('_id') }}">{{ pit.get("_id") }}</a></td>

          {% for data in pit %}
            {% if not loop.first %}
              <td>{{pit.get(data)}}</td>
            {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<script>
  function exportTableToCSV(filename, tableId) {
    var csv = [];
    var rows = document.querySelectorAll(`#${tableId} tr`);
    
    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");
      
      for (var j = 0; j < cols.length; j++) {
        row.push(cols[j].innerText);
      }
      
      csv.push(row.join(","));
    }

    var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });
    var downloadLink = document.createElement("a");
    downloadLink.download = filename;
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
  }
</script>

<script>
  function toggleTable(tableId) {
    const tableContainer = document.getElementById(tableId).parentElement;
    tableContainer.style.display = tableContainer.style.display === 'none' ? 'block' : 'none';
  }
</script>

<script>

  function makeSortable(table) {

    table.querySelectorAll('th').forEach((header,index) => {
      header.addEventListener('click', () => {

        var rows = Array.from(table.querySelectorAll('tbody tr'));
        const isNumeric = !isNaN(rows[0].cells[index].textContent);

        rows = rows.sort((rowA, rowB) => {

          const cellA = rowA.cells[index].textContent;
          const cellB = rowB.cells[index].textContent;

          return isNumeric
            ? parseFloat(cellA) - parseFloat(cellB)
            : cellA.localeCompare(cellB);
        });

        table.querySelector('tbody').append(...rows);
      });
    });
  }

  makeSortable(document.querySelector('#completedquantitative'));
  makeSortable(document.querySelector('#completedqualitative'));
  makeSortable(document.querySelector('#completedpits'));

</script>
{% endblock %}