<!DOCTYPE html>
<html>
<body>

<h1>EliteScouting</h1>
<p>Register here.</p>

<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    <br>
    <label for="teamrole">Team Role</label><br>
    <select name="teamrole" id="teamrole">
        <option value="mentor">Mentor</option>
        <option value="student">Student</option>
        <option value="alumni">Alumni</option>
      </select>
        <button>Submit</button>
  </form>

</body>
</html>