{% from "components.html" import header with context %}
{% from "components.html" import button with context %}
{% extends "base.html" %}
{% block content %}
<h1>Scouting Dashboard</h1>
<form action="/form/2025/new" method="get">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary btn-lg" type="submit">Start Scouting</button>
  </div>
</form>
<form action="/form/qual/new" method="get">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary btn-lg" type="submit">Start Super Scouting</button>
  </div>
</form>
<form action="/form/pit/new" method="get">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary btn-lg" type="submit">Start Pit Scouting</button>
  </div>
</form>
<form action="/data" method="get">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary btn-lg" type="submit">View all Data</button>
  </div>
</form>
<form action="/manage" method="get">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary btn-lg" type="submit">Management</button>
  </div>
</form>
{% endblock %}