{% from "components.html" import header with context %}
{% from "components.html" import button with context %}
{% from "components.html" import select with context %}

{% extends "base.html" %}

{% block content %}

    <div class="mb-3">
        <label for="team" class="form-label">Team</label>
        <select
            id="team"
            name="team"
            class="form-select"
            hx-get="/team/data"
            hx-target="#team-data"
            hx-trigger="change"
        >
          <option>
          {% for team in teams %}
            <option value="{{team}}">
              {{team}}
            </option>
          {% endfor %}
        </select>
    </div>

    <div id="team-data"></div>

{% endblock %}