<!DOCTYPE html>
<html>
<body>

<h1>Test Stuff Lulz</h1>

<label for="cars">More Testing:</label>

<form>
    <select name="cars" id="Doc Suess">
        <option value="volvo">One fish</option>
        <option value="saab">Two fish</option>
        <option value="mercedes">Red Fish</option>
        <option value="audi">Blue Fish</option>
      </select>
<br>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    <button id="submitButton">Submit</button>
  </form>

  <!-- <div id="submitButton">Click me!</div>  -->
 
  <script> 
    var div = document.getElementById("submitButton"); 
    div.addEventListener("click", function() { 
      alert("Button was clicked!"); 
    }); 
  </script> 

</body>
</html>